<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Educación continua</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <link rel="stylesheet" href="css/materialize" type="text/css">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper black">
                <a href="/" class="brand-logo">
                    <img src="img/knuckles.png" alt="">
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/courses">Cursos</a></li>
                    <li><a href="/register">Registro</a></li>
                    {{#if isLoggedIn}}<li><a href="/logout">Cerrar Sesión</a></li>{{/if}}
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="main">
                {{> @partial-block }}
            </div>
        </div>
        <script src="/js/materialize"></script>
        <script src="/js/bundle.js"></script>
    </body>
</html>