{{#> page_wrapper }}
<h3>Formulario para inscribirse en un curso</h3>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="id" type="text" class="validate" >
        <label for="id">Documento de identidad</label>
      </div>
      <div class="input-field col s6">
        <input id="email" type="email" class="validate" >
        <label for="email">Correo Electrónico</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="phone" type="text" class="validate" >
        <label for="phone">Teléfono</label>
      </div>
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" >
        <label for="name">Nombre</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select id="course" required>
          {{#each courses}}
            <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
        <label for="course">Cursos disponibles</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="registerEnrollments">Enviar
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>
{{/ page_wrapper }}
