{{#> page_wrapper}}
    <div class="container">
        <div class="row">
            <h4 class="center-align">Bienvienido, para ver la lista de cursos e inscribirse debe iniciar sesión en la
                plataforma</h4>
        </div>
        <div class="row">
            <form class="col s6 offset-s3" action="/login" method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="idNumber" id="idNumber" type="text" class="validate" required>
                        <label for="idNumber">Documento de identidad</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" id="password" type="password" class="validate" required>
                        <label for="password">Contraseña</label>
                    </div>
                </div>
                <div class="center-align">
                    <button id="submitUserLogin" class="btn waves-effect waves-light" type="submit">Enviar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="center align">
                    <p>¿Aún no posees cuenta? Puedes registrarte <a href="/register">aqui</a></p>
                </div>
            </form>
        </div>
    </div>
    
    {{#if errorMessage}}
    <script>
        window.onload = () => {
            M.toast({
                html: '<i class="material-icons right">error</i> {{ errorMessage }}',
                classes: "red text-white"
            })
        }
    </script>
    {{/if}}
{{/ page_wrapper}}