{{#> page_wrapper }}
<h2>Agregar Curso</h2>

<div class="row">
  <form class="col s12" id="courseForm">
    <div class="row">
      <div class="input-field col s6">
        <input id="id" type="text" class="validate" required>
        <label for="id">Id</label>
      </div>
      <div class="input-field col s6">
        <input id="name" type="text" class="validate" required>
        <label for="name">Nombre del curso</label>
      </div>
    </div>
    <div class="row">
			<div class="input-field col s6">
				<select required class="validate" id="mode">
					<option value="" disabled selected>Elige una opción</option>
					<option value="Presencial">Presencial</option>
					<option value="Virtual">Virtual</option>
				</select>
				<label>Modalidad</label>
			</div>
      <div class="input-field col s6">
        <input id="intensity" type="text" class="validate" required>
        <label for="intensity">Intensidad horaria</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="price" type="text" class="validate" required>
        <label for="price">Valor</label>
      </div>
      <div class="input-field col s6">
        <input id="description" type="text" class="validate materialize-textarea" required>
        <label for="description">Descripción</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" id="submitCourseRegistration">Enviar
      <i class="material-icons right">send</i>
    </button>
  </form>

</div>

{{/ page_wrapper }}