{{#> page_wrapper}}
  {{#with user}}
    <div class="container">
      <h4>Hola {{fullName}}, bienvenido a la plataforma, si deseas ver los cursos disponibles puedes hacer clic <a href="/courses">aqui</a></h4>
    </div>
  {{/with}}
{{/ page_wrapper}}
