body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    background-color: #101010;
    display: flex;
    height: 20%;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
}

.header .header-nav {
    list-style: none;
    display: flex;
}

.header .logo img {
    width: 5em;
    height: 5em;
    margin: 0.1em;
}

.nav-item {
    padding: 1em;
    font-size: 1.5em;
}

.nav-item > a {
    text-decoration: none;
    color: #FFF;
}

.main {
    padding: 1em;
}